
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
    </head>
</html>
<body>

    <h1 style="text-align: center;">Download Acknowledgement</h1>
<div style="text-align: center;">
    <form action="/home/ack" method="POST">
        <p>enter the details</p>
        <label for=""><b>Application id:</b></label>
        <input type="number" name="app" id="" required><br><br>
        <label for=""><b>phone no:</b></label>
        <input type="number" name="number" id="" required><br><br>
        <label for=""><b>d.o.b:</b></label>
        <input type="date" name="date" id="" required><br><br>
        <button type="submit">DOWNLOAD</button>
    </form>
   
</div>
<script>
    $('#button').click(function() {
		
        
        });
        
</script>

</body>
</html>