<!DOCTYPE html>
<html>
    <head>
        <title>
            login
        </title>
        <link rel="stylesheet" href="../stylesheets/main.css">
        <link rel="stylesheet" href="../stylesheets/bootstrap.css">
    </head>
    
 
    <body>
        <div class="topdiv">
            <div class="topbuton container">
            </div>
        </div>
        <div class="top_banner">
            <div class="container in_banner">
                <div class=" logo col-md-3 col-sm-3 col-xs-12">
                    <img id="" class="img-responsive" src="https://www.kpscrecruitment.in/Images/KPSC.jpg" style="border-width:0px;">
                   
                </div>
                <div class="banner_text col-md-6 col-sm-6 col-xs-12">
                    <h2 class="text-center">
                        <span id=""><b><u>KARNATAKA PUBLIC SERVICE COMMISSION</u></b></span>
                    </h2>
                    <h4 class="text-center">
                        <span id="">Online Application Portal </span>
                    </h4>
                </div>
                <div class=" logo col-md-3 col-sm-3 col-xs-12">
    
              
                    
                </div>
            </div>
        </div>
        <nav class="navbar navbar-inverse" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                  
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                   
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="">            
                <ul class="nav navbar-nav navbar-left">
                <li><a href="/" id="">Home</a></li>  
                <li><a href="/user/register" id="">Registration</a></li> 
                <li><a href="" id="">Help</a></li> 

                 </ul>
    
            </div>
        </div>
        </nav>
        
        <div class="">
            <div class="left_conrner">
            </div>
            <div class="right_conrner">
            </div>
        </div>
        <div>
            <div class="mid_box">
                <div class="rounded">
                    
        <center>
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tbody><tr>
                    <td colspan="2">&nbsp;
                    </td>
                </tr>
                <tr>
                    <td id="" width="44%">
                        
                    </td>
    
                    
                    <td width="52%">
                        <div class="instr_box">
                            <div id="" >
        
                                <h3 style="text-align:center">
                                    <span id="">LOGIN</span>
                                </h3>
                                <p>
                                    &nbsp;
                                </p>
                                <div>
                                    <div id="">
            
                                            </div><table cellpadding="0" class="inst_table" cellspacing="0" width="100%">
                                        <tbody><tr>
                                            
                                            
                                        </tr>
                                        <tr>
                                            <td align="right" width="28%">Application No: &nbsp;
                                            </td>
                                            <td align="left">
                                                <input name="" type="text" maxlength="15" id="" autocomplete="off">
                                                
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="right" width="28%">E-Mail Id: &nbsp;
                                            </td>
                                            <td align="left">
                                                <input name="" type="email" maxlength="65" id="" autocomplete="off" style="font-weight:bold;">
                                                <span id="" style="color:Red;display:none;">Password:</span>
                                            </td>
                                        </tr>
                                        
                                        <tr>
                                                <td align="right">Password:&nbsp;: &nbsp;
                                                </td>
                                                <td align="left">
                                                    <input name="" type="password" maxlength="6" id="" class="form-control">
    
                                                    <span id="" style="color:Red;display:none;">Confirm Password:</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                
                             
                                            
                                            <td colspan="2" align="center">
                                                <h5>
                                                    <span id="" class="text-danger"></span></h5>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <input type="hidden" name="" id="">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;
                                            </td>
                                            <td align="left">
                                                <input type="submit" name="" value="Register" onclick="" class="btn">
                                            </td>
                                        </tr>
                                        <tr style="font-size: 10pt">
                                            <td valign="middle" align="center">
                                                <br>
                                                <a onclick="" id="" href="#" style="color:Red;">Forgot Password ?</a>
                                            </td>
                                            <td valign="middle" align="center">
                                                <br>
                                                <a id="" href="" style="color:Red;">Forgot Application No ?</a>
                                            </td>
                                        </tr>
                                    </tbody></table>
                                </div>
                            
    </div>
                        </div>
                    </td>
                </tr>
            </tbody></table>
        </center>
    </div>
</div>
</div>
</div>
<div class="rounded_footer">
    <div class="left_footer">
    </div>
    <div class="right_footer">
    </div>
</div>
</div>
<div class="cleaner">
</div>
<div id="footer">
<div class="container-fluid">
    <p>
        <span id="ctl00_lblDisclaimer"></span><span id="ctl00_lblVersion"> </span></p>
</div>
</div>
    </body>
</html>
