<%- include("partials/headers")%>
        <nav class="navbar navbar-inverse" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                  
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                   
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="">            
                <ul class="nav navbar-nav navbar-left">
                <li><a href="/" id="">Home</a></li>  
                <li><a href="/user/register" id="">Registration</a></li> 
                <li><a href="" id="">Help</a></li> 

                 </ul>
    
            </div>
        </div>
        </nav>
        
        <div class="">
            <div class="left_conrner">
            </div>
            <div class="right_conrner">
            </div>
        </div>
        <div>
            <div class="mid_box">
                <div class="rounded">
                    <%- include("partials/messages")%>
                    <form action="/user/login" method="post">

                        <center>
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tbody><tr>
                                    <td colspan="2">&nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td id="" width="44%">
                                        
                                    </td>
                    
                                   
                                    
                                    
                                    </form>
                                    <td width="52%">
                                        <div class="instr_box">
                                            <div id="" >
                        
                                                <h3 style="text-align:center">
                                                    <span id="">LOGIN</span>
                                                </h3>
                                                <p>
                                                    <br><br>
                                                 </p>
                                                <div>
                                                    <div id="">
                            
                                                            </div><table cellpadding="0" class="inst_table" cellspacing="0" width="100%">
                                                        <tbody><tr>
                                                            
                                                            
                                                        </tr>
                                                        
                                                        <tr>
                                                            <td align="right" width="40%"><b>E-Mail Id: &nbsp;</b>
                                                            </td>
                                                            <td align="left">
                                                                <input
                                                                type="email"
                                                                id="email"
                                                                name="email"
                                                                class="form-control"
                                                                placeholder="Enter Email"
                                                                />
                                                               
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td></td>
                                                        </tr>
                                                        <tr>
                                                                <td align="right" width="40%"><b>Password:&nbsp;: &nbsp;</b>
                                                                </td>
                                                                <td align="left">
                                                                    <input
                                                                        type="password"
                                                                        id="email"
                                                                        name="password"
                                                                         class="form-control"
                                                                        placeholder="Enter Password"
                                                                    />
                    
                                                                    
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td></td>
                                                            </tr>
                                                            
                                                            
                                                            <tr>
                                                                
                                             
                                                            
                                                            <td colspan="2" align="center">
                                                                <h5>
                                                                    <span id="" class="text-danger"></span></h5>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="2">
                                                                <input type="hidden" name="" id="">
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>&nbsp;
                                                            </td>
                                                            <td align="left">
                                                                <input type="submit" name="" value="LOGIN" onclick="" class="btn">
                                                            </td>
                                                        </tr>
                                                        <tr style="font-size: 10pt" width="20%">
                                                            <td valign="middle" align="center">
                                                                <br>
                                                                <a onclick="" id="" href="#" style="color:Red;">Forgot Password ?</a>
                                                            </td>
                                                            <td valign="middle" align="center">
                                                                <br>
                                                                <a id="" href="" style="color:Red;">Forgot Application No ?</a>
                                                            </td>
                                                        </tr>
                                                    </tbody></table>
                                                </div>
                                            
                    </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody></table>
                        </center>
                        </form>
        
    </div>
</div>
</div>
</div>
<div class="rounded_footer">
    <div class="left_footer">
    </div>
    <div class="right_footer">
    </div>
</div>
</div>
<div class="cleaner">
</div>
<div id="footer">
<div class="container-fluid">
    <p>
        <span id="ctl00_lblDisclaimer"></span><span id="ctl00_lblVersion"> </span></p>
</div>
</div>
    </body>
</html>
