<!DOCTYPE html>
<!-- saved from url=(0041)file:///C:/Users/BHANU/Desktop/login.html -->
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>
            login
        </title>
        <link rel="stylesheet" href="../stylesheets/main.css">
        <link rel="stylesheet" href="../stylesheets/bootstrap.css">
        <style type="text/css">
        	#round
        	{
        		text-align: center;
        		padding-top: 15%;
        		padding-bottom: 15%;
        	}
        	#size
        	{
        		font-size: 50px;
        	}
        </style>
    </head>
    
 
    <body>
        <div class="topdiv">
            <div class="topbuton container">
            </div>
        </div>
        <div class="top_banner">
            <div class="container in_banner">
                <div class=" logo col-md-3 col-sm-3 col-xs-12">
                    <img id="" class="img-responsive" src="http://www.tecsok.com/wp-content/uploads/2018/02/tecsok-2.png" style="border-width:0px;">
                   
                </div>
                <div class="banner_text col-md-6 col-sm-6 col-xs-12">
                    <h2 class="text-center">
                        <span id=""><b><u>Technical Consultancy Service Organisation of Karnataka</u></b></span>
                    </h2>
                    <h4 class="text-center">
                        <span id="">Online Application Portal </span>
                    </h4>
                </div>
                <div class=" logo col-md-3 col-sm-3 col-xs-12">
    
              
                    
                </div>
            </div>
        </div>
        <nav class="navbar navbar-inverse" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                  
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                   
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="">            
                <ul class="nav navbar-nav navbar-left">
                <li><a href="/" id="">Home</a></li>  
                <li><a href="/user/register" id="">Registration</a></li> 
                <li><a href="/user/login" id="">Help</a></li> 

                 </ul>
    
            </div>
        </div>
        </nav>
        
        <div class="">
            <div class="left_conrner">
            </div>
            <div class="right_conrner">
            </div>
        </div>
        <div>
            <div class="mid_box">
                <div class="rounded" id="round">
                	<h1 id="size">Email Verified</h1>
                	<h3><a href="/user/login">Please Click here to Login</a></h3>           
                </div>
			</div>
</div>

<div class="rounded_footer">
    <div class="left_footer">
    </div>
    <div class="right_footer">
    </div>
</div>

<div class="cleaner">
</div>
<div id="footer">
<div class="container-fluid">
    <p>
        <span id="ctl00_lblDisclaimer"></span><span id="ctl00_lblVersion"> </span></p>
</div>
</div>
    

</body></html>
